<div class="container-fluid home">
    <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <h1>Nucleus </h1>
        <p>A responsive business oriented analytical solution for our fast paced clients<br/>
        designed by Nucleus Team </p>
      </div>
      <video autoplay loop muted src="assets/images/banner.mp4"></video>
    </section>
    
    <!-- Highlights -->
    <section class="wrapper">
      <div class="inner">
        <header class="special">
          <h2>Nucleus Analytical Solution</h2>
          <p>It is an analytical solution that eases the work of developers in generating world class analytical reports</p>
        </header>
        <div class="highlights">
          <section>
            <div class="content">
              <header>
                <a href="#" class="icon fa-bar-chart-o"><span class="label">Icon</span></a>
                <h3>Responsive charts</h3>
              </header>
              <p>Providing cutting-edge graphical representation of data. Provides bar,line,pie,radar and scatter plots</p>
            </div>
          </section>
          <section>
            <div class="content">
              <header>
                <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
                <h3>Dashboard Creation</h3>
              </header>
              <p>Creates beautiful dashboard having reports and charts</p>
            </div>
          </section>
          <section>
            <div class="content">
              <header>
                <a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
                <h3>Save and Export</h3>
              </header>
              <p>Can download reports and export in pdf and excel format</p>
            </div>
          </section>
          <section>
            <div class="content">
              <header>
                <a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
                <h3>Performance Boosting</h3>
              </header>
              <p>Can club data from different sources and merge them to obtain analysis boosting performance</p>
            </div>
          </section>
          <section>
            <div class="content">
              <header>
                <a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
                <h3>Share</h3>
              </header>
              <p>Share reports to different users with permissions and also share with email</p>
            </div>
          </section>
          <section>
            <div class="content">
              <header>
                <a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
                <h3>Grid Based Reports</h3>
              </header>
              <p>Provides offline filtering and sorting the data as needed and thus avoiding overloading and latency</p>
            </div>
          </section>
        </div>
      </div>
    </section>
    
    <!-- CTA -->
    <section id="cta" class="wrapper">
      <div class="inner">
        <h2>Reports and charts that are sleek and focus towards business</h2>
        <p>Charts include line chart, pie chart, bar chart, scatter-plot and many more... Reports include offline functionality of sorting, pagination and filtering and built-in support for excel format</p>
      </div>
    </section>