/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/font-awesome/css/font-awesome.css";


.bg-red{
    background-color: #e60000;
}
.bg-blue{
    background-color: #004de6;
}

.bg-grey{
    background-color:#e6e6e6;
}

.bg-white{
    background-color: white;
}


body{
    background-color: #fafafa;
    height: 100%;
    overflow-y: auto;
}