.sidenav {
    margin-top:54px;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    width:280px
  }
  
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: white;
    transition: 0.3s;
  }
  
  .sidenav #a:hover {
    background-color: #ffffff;
    opacity: 0.5;
    color: #5f788a;
  }
  
  
  .sidenav p{
      font-size: 20px;
  }
  
  hr{
      width:90%;
      margin:0 auto;
      background-color: #ffffff;
  }
  
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
  }
 
  #main,#nav{
    transition: margin-left .5s;
    margin-left: 200px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }