.textarea{
    height:150px;
    color:#004de6;
    font-family:Source Sans Pro;
    font-weight: bold;
    background-color: #f2f2f2;
    font-size:23px;
}

.submit_btn{
    background-color: #f2f2f2;
    color:black;
    border-color: black;
}

.submit_btn:hover{
    background-color: #004de6;
    color:#f2f2f2;
    border-color: #004de6;
}

.active{
    background-color: #004de6;
    color:#f2f2f2;
    border-color: #004de6; 
}